.mygrp{
    background-color: #F8F4EC;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .mygrp .headerdash{
    color: #eabb14;
    background-color: #F9F0DB;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 5px 4px #80808067;
  }
  .mygrp .headerdash .logo{
    margin-left: 5%;
    width: 15%;
    display: flex;
    justify-content: center;
  }
  .mygrp .headerdash .nav{
    width: 35%;
    display: flex;
    flex-direction: row;
  
  }
  .mygrp .headerdash .nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-decoration: none;
    
  }
  .mygrp .headerdash .nav ul li{
    width: 20%;
    margin-right: 5%;
    padding-bottom:11.5%;
    display: flex;
    justify-content: center;
    text-decoration: none; 
    list-style-type: none;
    cursor: pointer;  
  }
  .mygrp .headerdash .search{
    margin-left: 3%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .icon{
    color: #463804;
  }
  .mygrp .headerdash .nav ul  .icon:hover{
    color: #f99806;
    border-bottom: 5px solid #f99806;
  }
  .mygrp .headerdash .search  form{
    width: 100%;
    align-self: center;
  }
  .mygrp .headerdash .search form input{
    width: 50%;
    padding: 8px;
    align-items: center;
    border-radius: 10px;
    border: none;
  }
  .mygrp .headerdash .search form input:hover{
    border: 2px solid #f99806;
  }
  .mygrp .headerdash .profile{
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
  }
  .mygrp .headerdash .profile .proimg{
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 8vh;
    border: 2px solid #070706;
    border-radius: 20%;
    justify-content: center;
    align-items: center;
    color: #463804;
  }
  .mygrp .mygrpcon{
    display: flex;
    flex-direction: row;
    height: 90vh;
    overflow-y: hidden;
  }

  .mygrp .mygrpcon .grpbox{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-top: 20px;
    padding-bottom: 2px;
    background-color: #a7a39b35;
    margin-right:auto ;
    margin-left: auto;
    overflow-y:scroll ;
  }


  .grp{
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 10vh;
    background-color:whitesmoke;
    margin-top: 10px;
    border-radius: 10px;
}

.grpnav{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #F9F0DB;
}
  .grpnav ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  text-decoration: none;
  text-align: center;
}
  .grpnav ul .text{
  width: 40%;
  margin-right:10px;
  padding-bottom:10px;
  display: flex;
  justify-content: center;
  text-decoration: none; 
  list-style-type: none;
  cursor: pointer;  
  font-size: larger;
  font-weight: bolder;
  align-self: center;
}
.text{
  color: #463804;
}
 .grpnav ul  .text:hover{
  color: #f99806;
  border-bottom: 5px solid #f99806;
}

.active{
    color: #f99806;
  border-bottom: 5px solid #5d3a05;
}